#background{
    background-color: rgb(60, 60, 60);
}
#header{
    background: black;
    opacity: 50%;
}
#welcome-message{
    color: rgb(133, 27, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}
#calendar{
    background-color: rgb(191, 191, 191);
}
#days{
    padding: 20px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(150, 18, 18);
}
#day-information{
    color: aliceblue;
    font-size: smaller;
}
#month-names{
    text-align: center;
    background-color: rgb(218, 218, 218);
}
#footer{
    background-color: aliceblue;
    margin-top: 50px;
}